<h1>Chat</h1>
<hr>

<div class="app-mensajes" id="app-messages">
  <div
    *ngFor="let chat of chatService.chats"
    [ngClass]="{'text-right': chatService.userApp.uid == chat.uid}">
    <span
      class="badge"
      [ngClass]="{'badge-primary': chatService.userApp.uid == chat.uid,
                'badge-success': chatService.userApp.uid != chat.uid}">
        pepe {{ chat.name  }}</span>
    <p> {{ chat.msg }} </p>
  </div>

  <!-- <div>
    <span class="badge badge-success">Maria</span>
    <p>Saludos</p>
  </div>
  <div class="text-right">
    <span class="badge badge-primary">Fernando</span>
    <p>Este es un mensaje de chat</p>
  </div>

  <div>
    <span class="badge badge-success">Maria</span>
    <p>Saludos</p>
  </div>
  <div class="text-right">
    <span class="badge badge-primary">Fernando</span>
    <p>Este es un mensaje de chat</p>
  </div>

  <div>
    <span class="badge badge-success">Maria</span>
    <p>Saludos</p>
  </div>
  <div class="text-right">
    <span class="badge badge-primary">Fernando</span>
    <p>Este es un mensaje de chat</p>
  </div>

  <div>
    <span class="badge badge-success">Maria</span>
    <p>Saludos</p>
  </div>
  <div class="text-right">
    <span class="badge badge-primary">Fernando</span>
    <p>Este es un mensaje de chat</p>
  </div>

  <div>
    <span class="badge badge-success">Maria</span>
    <p>Saludos</p>
  </div> -->

</div>

<div class="form-group">
  <input type="text"
    class="form-control pd-3"
    name="message"
    [(ngModel)]="message"
    placeholder="Send message"
    (keyup.enter)="sendMessage()"
    >
</div>
