


.main-container{
    margin-top: 40px;
    margin-bottom: 150px;
  }

  .puntero{
    cursor: pointer;
  }


  .chat-window{
    padding: 10px;
    width: 300px;
    height: 425px;
    overflow: hidden;
    border: 1px solid #4080FF;
    border-radius: 20px;
  }

  .app-mensajes::-webkit-scrollbar {
    width: 6px;               /* width of the entire scrollbar */
  }

  .app-mensajes::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
  }

  .app-mensajes::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);    /* color of the scroll thumb */
    border-radius: 10px;      /* roundness of the scroll thumb */
  }

  .app-mensajes{
    overflow-y:scroll;
    height:270px;
    /*background:gray;*/
    padding: 5px 10px 10px 5px;
    margin-bottom: 10px;
  }


  /* Animaciones */
  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  .fast {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .fadeIn {
    animation-name: fadeIn;
  }
